/*start gallery*/
.gallery .navigation {
  text-align: center;
  margin-bottom: 80px;
}
.gallery .navigation button {
  background-color: white;
  border: 1.5px solid #07395c;
  color: #07395c;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  text-transform: capitalize;
  outline: none;
}
.gallery .navigation button.active {
  background-color: #07395c;
  color: white;
}

/*end gallery*/
